<!DOCTYPE html>
<html>

<head>
    <title>Nazim Ahmed - Curriculum Vitae</title>

    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="The Curriculum Vitae of Nazim Ahmed." />
    <meta charset="UTF-8">

    <link type="text/css" rel="stylesheet" href="static/style.css">
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body id="top">
    <div id="cv" class="instaFade">
        <div class="mainDetails">
            <div id="headshot" class="quickFade">
                <img src="headshot.jpg" alt="Alan Smith" />
            </div>

            <div id="name">
                <h1 class="quickFade delayTwo">Nazim Ahmed</h1>
                <h2 class="quickFade delayThree">DevOps Engineer</h2>
            </div>

            <div id="contactDetails" class="quickFade delayFour">
                <ul>
                    <li>Email: <a href="mailto:nazim@bloggs.com" target="_blank">nazim.ahmed427@gmail.com</a></li>
                    <li>Mobile: 07526190404</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div id="mainArea" class="quickFade delayFive">
            <section>
                <article>
                    <div class="sectionTitle">
                        <h1>Personal Profile</h1>
                    </div>

                    <div class="sectionContent">
                        <p>A reliable and hard-working individual who can work well with a team or independently.
                            Able to learn skills very quickly and complete tasks to a high quality.
                            Looking to further my career in the DevOps industry. .</p>
                    </div>
                </article>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Work Experience</h1>
                </div>

                <div class="sectionContent">
                    <article>
                        <h2>QA Consulting</h2>
                        <p class="subDetails">April 2011 - Present</p>
                        <p>DevOps Engineer</p>
                    </article>

                    <article>
                        <h2>Spice Gardens</h2>
                        <p class="subDetails">Janruary 2007 - March 2011</p>
                        <p>Waiter.</p>
                    </article>
                </div>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Key Skills</h1>
                </div>

                <div class="sectionContent">
                    <ul class="keySkills">
                        <li>Terraform</li>
                        <li>Ansible</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Education</h1>
                </div>

                <div class="sectionContent">
                    <article>
                        <h2>Bournemouth University</h2>
                        <p class="subDetails">Qualification</p>
                        <p> 2:1 Degree </p>
                    </article>
                </div>
                <div class="clear"></div>
            </section>

        </div>
    </div>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-3753241-1");
        pageTracker._initData();
        pageTracker._trackPageview();
    </script>
</body>

</html>